/* student-list.component.css */

body {
    background-color: #222;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #444;
    margin-bottom: 10px;
    background-color: #333;
    color: #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  li:hover {
    background-color: #444;
  }
  
  li.selected {
    background-color: #999;
    color: #222;
  }
  
  .details {
    border: 1px solid #444;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #444;
    color: #ddd;
  }
  
  .details h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ddd;
  }
  
  .details ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .details li {
    margin-bottom: 5px;
  }
  