<h2>Create Student</h2>

<form (ngSubmit)="createStudent()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="newStudent.name" required>
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="newStudent.lastName" required>
  </div>
  <div>
    <label for="jmbag">JMBAG:</label>
    <input type="text" id="jmbag" name="jmbag" [(ngModel)]="newStudent.jmbag" required>
  </div>
  <div>
    <label for="ects">ECTS:</label>
    <input type="number" id="ects" name="ects" [(ngModel)]="newStudent.ects" required>
  </div>
  <div>
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="newStudent.birthDate">
  </div>
  <div>
    <button type="submit">Create</button>
  </div>
</form>
