<form>
    <div class="form-group">
      <label for="jmbag">JMBAG:</label>
      <input type="text" id="jmbag" [(ngModel)]="student.JMBAG" name="jmbag" />
    </div>
    <div class="form-group">
      <label for="ects">ECTS:</label>
      <input type="number" id="ects" [(ngModel)]="student.ECTS" name="ects" />
    </div>
    <div class="form-group">
      <label for="paysForCollege">Pays for college:</label>
      <input type="checkbox" id="paysForCollege" [(ngModel)]="student.paysForCollege" name="paysForCollege" />
    </div>
  </form>
  