<div *ngIf="student">
    <h2>Student Details</h2>
    <ul>
      <li><strong>Name:</strong> {{ student.name }}</li>
      <li><strong>Last Name:</strong> {{ student.lastName }}</li>
      <li><strong>JMBAG:</strong> {{ student.jmbag }}</li>
      <li><strong>ECTS:</strong> {{ student.ects }}</li>
      <li><strong>Date of birth:</strong> {{ student.birthDate }}</li>
      <li>
        <strong>Courses:</strong>
        <ul>
          <li *ngFor="let course of student.courses">{{ course.name }}</li>
        </ul>
      </li>
    </ul>
  </div>
  